<div class="mx-auto md:w-2/3 w-full">
  <section class="mx-auto text-center my-10 px-12 sm:px-6 bg-white overflow-hidden sm:rounded-md">
    <h1 class="text-5xl font-black leading-tight mb-3 mt-3">Settings</h1>
  </section>
  <%= render 'user', user: @current_user %>
</div>
